*{
    box-sizing: border-box;
    margin: 0;

}

body {
    background-color: #eeeeee;
}

header{
    background-color: rgba(149, 208, 241, 0.5);
    backdrop-filter: blur(10px);
    position: sticky;
    top:0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px 10vw;
}

footer{
    background-color: wheat;
}

a{
    padding-left:10px;
    color: black;
    text-decoration: none;
}

/* ============== */

nav {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

nav > h3 {
    margin: 0;
}

nav > ol {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;  
}

.greeting {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.greeting-text-div {
    margin-right: 20px;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.gretting-subtext{
    font-size: 14px;
    color: grey
}

.greeting > img {
    max-height: 40vw;
    background-color: black;
    border-radius: 50%;
    object-fit: cover;
}

.social-media-div{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.github-button{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('./img/github.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.velog-button{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('./img/velog.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.gmail-button{
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('./img/gmail.svg');
    background-size: cover;
    background-repeat: no-repeat;
    text-indent: -9999px;
}

.gretting-button{
    gap: 10px;
    margin-top: 50px;
    display: flex;
}

.main-button{
    font-size: 12px;
    min-width: 120px;
    height: 40px;
    background-color: rgb(149, 208, 241);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.main-button:hover{
    color: rgb(149, 208, 241);
    background-color: white;
    border: 1px solid rgb(149, 208, 241);
}

.main-button:active{
    color: white;
    background-color:rgb(99, 137, 159);
    border: 1px solid rgb(99, 137, 159);
}

.project-div {
    margin-top: 30px;
}

.project-div > h2{
    text-align: center;
}

.project-list {
    display: grid;
    font-size: 16px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(1000px);
    padding: 0;
}

.project-card{
    padding:20px;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
}

.project-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}